extends layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/product.css")
block content 
    main
        if prods.length > 0 
            .grid 
                each product in prods 
                    article.card.product-item 
                        header.card__header 
                            h1.product__title #{product.title}
                            div.card__image 
                                img(src="https://vn-live-01.slatic.net/p/d816b78ee07e0e7128804dc9658a109b.jpg", alt="")
                            div.card__content 
                                h2.product__price $199.99
                                p.product__description A very interesting book 
                            .card__actions 
                                button.btn Add to card
        else 
            h1 No Products
                        